* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* letter-spacing: 1px; */
}

@font-face {
  font-family: 'e-UkraineHead';
  src: url('../fonts/e-Ukraine_font/web/e-UkraineHead-Regular.ttf') format('ttf'),
    url('../fonts/e-Ukraine_font/web/e-UkraineHead-Regular.eot') format('eot'),
    url('../fonts/e-Ukraine_font/web/e-UkraineHead-Regular.woff') format('woff'),
    url('../fonts/e-Ukraine_font/web/e-UkraineHead-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
    font-family: 'Roboto-light';
    src: url('../fonts/Roboto-Light.woff2') format('woff2'),
    url('../fonts/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
    url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
    url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Black';
    src: url('../fonts/Roboto-Black.woff2') format('woff2'),
    url('../fonts/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
    url('../fonts/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.woff2') format('woff2'),
    url('../fonts/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Condensed-Bold';
    src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Condensed-Light';
    src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto-Condensed';
    src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2'),
    url('../fonts/RobotoCondensed-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



section {
    padding-bottom: 80px;
}
.section-title {
    font-size: 42px;
    color: #333B50;
    text-align: center;
}
.title-white {
    color: white;
    padding-bottom: 60px;
}
.title-left {
    text-align: left;
}
.container {
    max-width: 1200px;
    padding: 0;
}
p {
    margin-bottom: 0;
    font-family: 'Roboto', sans-serif;
}
a {
    color: maroon;
}

ul {
    margin-bottom: 0;
}
h2 {
  padding-top: 30px !important;
    font-size: 42px;
    font-family: 'Roboto-Condensed', Arial, sans-serif;
}
main {
    width: 100%;
}
.brand-color {
    background: #7D0537;
}
.left-side img {
    max-width: 90%;
}


/* Header */
header {
  width: 100%;
  height: 80px;
  overflow: hidden;
  display: block;
  box-shadow: 0px 6px 50px rgba(116, 141, 147, 0.1);
  margin-bottom: 30px;
}
header > div.container > * {
  display: inline-block;
}
#toplogo {
  margin-top: 20px;
  vertical-align: top;
}
header nav {
  width: 70%;
  text-align: right;
}
header nav > ul {
  display: inline-block;
}
header nav > ul > li {
  display: inline-block;
  text-transform: capitalize;
  margin: 0px 5px 0;
}
header nav > ul > li > a {
  padding: 5px;
  text-decoration: none !important;
  color: black !important;
}
a:focus {
  border: 3px dotted maroon !important;
}
header nav > ul > li > a.register {
  color: black !important;
  line-height: 39px !important;
}

main {
    width: 100%;
}
/*NEW FOR ROMAN*/

.primary-color {
    color: #F15C08;
}

h1 {
    padding-bottom: 20px;
}

.hero__content {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Roboto-Condensed', sans-serif;
}
.hero {
    padding-bottom: 0;
}
.hero__left {
    flex: 1 1;
}

.hero__right {
    flex: 1 1;
    justify-content: flex-end;
}

.hero__text {
    font-size: 18px;
    padding-bottom: 20px;
}

.hero__title {
    padding-bottom: 20px;
}

.button-group {
    display: flex;
    padding-bottom: 20px;
}
.button-group p {
    background-color: #F3F3F3;
    text-align: center;
    padding: 5px 15px;
    margin-right: 20px;
    line-height: 54px;
    font-size: 21px;
}

.register-button {
    background: #FF8000;
    padding: 15px 30px;
    font-family: "Roboto-Condensed", sans-serif;
    color: black !important;
    line-height: 54px;
    font-size: 18px;
}

@media (max-width: 1150px) {
    .hero__content {
        flex-direction: column;
    }

    .hero__left {
        max-width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero__text {
        text-align: center;
    }

    .hero__left h1 {
        text-align: center;
    }
    .hero__title {
        text-align: center;
    }

    .hero__right {
        max-width: 80%;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .hero__right img {
        max-width: 90%;
    }

    .button-group {
        justify-content: center;
    }
}
/* INTRO */
.intro {
  width: 100% !important;
  clear: both;
  position: relative;
  overflow: hidden;
}
.intro .decorator {
  position: absolute;
  right: 0;
  width: 50%;
  margin-top: 16px;
  height: calc(100% - 96px);
  background-color: #7D0537;
  z-index: 0;
}
#intro .container {
  background-color: white;
  position: relative;
  z-index: 10;
}
#intro .left-side {
}
#intro img.title {
  float: right;
  max-width: 50%;
}
#intro p {
  margin-top: 30px;
}
@media all and (max-width: 800px) {
  #intro img.logos {
    top: 20px;
    right: 30px;
    left: auto;
    width: 300px;
  }
}
@media all and (max-width: 600px) {
  #intro img.logos {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 200px;
    border-radius: 10px;
    box-shadow: 5px solid black;
    border: 1px solid rgba(0,0,0,0.1);
  }
  #intro img.title {
    float: none !important;
  }
}

.intro-text {
  display: block;
  width: 600px;
  margin-top: 30px;
  font-family: Roboto;
  font-size: 18px !important;
}
h1 {
  text-align: left !important;
  font-family: "Roboto-Condensed-Bold" !important;
  font-size: 57px !important;
  display: inline-block;
  max-width: 570px;
  height: 160px;
}
h1 strong {
  display: inline-block;
  margin-bottom: 30px;
  height: 57px;
  font-variant: small-caps;
  font-family: "Roboto-Condensed-Bold" !important;
  font-weight: bold;
  font-size: 38px;
  color: #F15C08 !important;
}
.date, .place {
  background-color: #F3F3F3;
  display: inline-block;
  text-align: center;
  line-height: 54px;
  font-weight: normal;
  margin-top: 30px;
  font-family: "Roboto-Condensed" !important;
  font-size: 21px !important;
}
.date {
  width: 150px;
}
.place {
  width: 91px;
  margin-left: 10px;
}
.register {
  background-color: #FF8000;
  width: 180px;
  color: black !important;
  display: block;
  margin-top: 30px;
  text-align: center;
  line-height: 54px;
  font-weight: normal;
  font-family: "Roboto-Condensed" !important;
  font-size: 18px !important;
  /* letter-spacing: 5% !important; */
  font-variant: small-caps;
}

/*ABOUT*/
.about {
    padding-top: 130px;
}

.left-side {
    flex: 1 1;
    padding-right: 30px;
}
.right-side {
    flex: 1 1;
    justify-content: flex-end;
}

.about__content {
    display: flex;
    flex-wrap: wrap;
}

.about-text {
    font-size: 16px;
    color: #333B50;
    padding-top: 40px;
    line-height: 1.6;
    /* letter-spacing: 1px; */
}
/*REGISTRATION*/
/*FORM SECTION*/
.registration {
    background: #F3F3F3;
    padding-top: 80px;
}
.registration-content {
    /*padding-top: 63px;*/
}

.registration-content .section-title {
    padding-bottom: 42px;
}
.registration-container {
    display: flex;
}

.registration-left {
    flex: 1 1;
    padding-right: 30px;
    padding-top: 40px;
}

.registration-right {
    flex: 1 1;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}
.registration-right img {
    width: 100%;
    height: 100%;

}
.field-group {
    display: flex;
    justify-content: space-between;
}

.field:first-child {
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-right: 30px;
    margin-bottom: 33px;
}

.field label {
    font-size: 14px;
    width: 100%;
}

.field-input {
    display: block;
    width: 270px;
    height: 48px;
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.4;
    color: #696C73;
    padding: 11px 0 11px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.field-input::placeholder {
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.4;
    color: #696C73;
}


.field-textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 144px;
    font-size: 16px;
    padding: 11px 0 11px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.4;
    color: #696C73;
}

.field-textarea::placeholder {
    font-size: 16px;
    font-family: 'Roboto', Arial, sans-serif;
    line-height: 1.4;
    color: #696C73;
}
.field button {
    margin-top: 30px;
    width: 215px;
    height: 52px;
    background: #7D0537;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}

@media (max-width: 1100px) {
    .about__content {
        flex-direction: column-reverse;
    }
    .left-side {
        text-align: center;
    }
    .right-side {
        max-width: 80%;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }
    .registration-left {
        display: flex;
        justify-content: center;
        padding-right: 0;
        padding-top: 0;
    }
    .registration-right {
        display: none;
    }
}

/*REGISTRATION*/
.registration {
  padding: 30px 20px 0 !important;
}
.registration a {
  margin: 0 auto;
}
/*FORM SECTION*/
.registration {
    background: #F3F3F3;
    padding-top: 80px;
}
.registration-content {
    /*padding-top: 63px;*/
}

.registration-content .section-title {
    padding-bottom: 42px;
}
.registration-container {
    display: flex;
}

.registration-left {
    flex: 1 1;
    padding-right: 30px;
    padding-top: 40px;
}

.registration-right {
    flex: 1 1;
    /*display: flex;*/
    /*justify-content: flex-end;*/
}
.registration-right img {
    width: 100%;
    height: 100%;

}
.field-group {
    display: flex;
    justify-content: space-between;
}

.field:first-child {
    /*display: flex;*/
    /*flex-direction: column;*/
    padding-right: 30px;
    margin-bottom: 33px;
}

.field label {
    font-size: 14px;
    width: 100%;
}

.field-input {
    display: block;
    width: 270px;
    height: 48px;
    font-size: 16px;
    color: black;
    padding: 11px 0 11px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.field-input::placeholder {
    font-size: 16px;
    color: black;
}


.field-textarea {
    resize: none;
    display: block;
    width: 100%;
    height: 144px;
    font-size: 16px;
    color: black;
    padding: 11px 0 11px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.field-textarea::placeholder {
    font-size: 16px;
    color: black;
}
.field button {
    margin-top: 30px;
    width: 215px;
    height: 52px;
    background: #00081E;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}


/*NEWS*/

.news-item {
    width: 100%;
    display: flex;
    margin-top: 40px;
    border-bottom: 1px solid #6A8E94;
    padding-bottom: 30px;
}

.news-content {
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 85px;
}

.news-content .created_at {
    color: #7D0537;
}
.news-content p {
    color: #333B50;
    font-size: 16px;
    line-height: 26px;
}


/*PROGRAM*/

.program{
  background: rgb(255,128,0);
  background: linear-gradient(0deg, rgba(255,128,0,0.8) 0%, rgba(192,192,192,1) 100%);
      padding: 0 10px 40px 10px;
}
.program h2 {
  color: #202020 !important;
}
.program__container {
    background: #fff;
    border-radius: 0 0 20px 20px;
}

.program__content {
    width: 90% !important;
    margin: 0 auto;
    padding-top: 60px;
}

.program__title {
    display: flex;
    min-height: 60px;
    justify-content: space-between;
}
.program__title-time {
    display: flex;
    align-items: center;
    background: #7D0537;
    width: 39%;
    color: white;
    padding-left: 20px;
}

.program__title-desc {
    display: flex;
    align-items: center;
    background: #7D0537;
    width: 60%;
    color: white;
    padding-left: 20px;
}
.light-grey {
    background: #F3F3F3;
}

.light-blue {
    background: #DCE2F0;
}

.schedule {
    display: flex;
    justify-content: space-between;
    min-height: 60px;
    margin-top: 20px;
}
.schedule:last-child {
  padding-bottom: 40px;
}
.schedule__time {
    display: flex;
    padding-top: 20px;
    width: 39%;
    color: #333B50;
    padding-left: 20px;
}

.schedule__desc {
    width: 60%;
    color: #333B50;
    padding-left: 20px;
    padding-top: 20px;
    line-height: 1.6;
}

.schedule__desc-representative {
    color: #202020;
    font-weight: bold;
}

.schedule-title {
    font-size: 21px;
    color: #00081E;
}

.schedule__subtitle {
    font-size: 21px;
    color: #333B50;
    line-height: 1.6;
}

.schedule__wrapper {
    width: 60%;
}

.schedule__wrapped-desc {
    color: #333B50;
    padding-top: 20px;
    padding-left: 20px;
    margin-bottom: 10px;
}
.schedule__wrapped-desc:last-child {
  margin-bottom: 0px !important;
}
.deque-tabpanel .deque-tabpanel-tabpanel[role=tabpanel] {
    width: 90%;
}
.deque-tabpanel[role=tablist] {
    justify-content: space-between !important;
}
.deque-tabpanel-tab[aria-selected="true"] {
    background: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none !important;
}
.deque-tabpanel-tab[aria-selected="false"] {
    color: #202020 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    outline: none !important;
    border: 1px solid #202020 !important;
    border-bottom: 0px solid white !important;
}
.deque-tabpanel-tab[aria-selected="false"] .schedule__desc-representative {
    /* color: white !important; */
}
.tabpanel-ul{
    justify-content: space-between !important;
}

.tabpanel-ul {
    margin-bottom: 0 !important;
}

.tabpanel-li {
    border-top: none !important;
    border-bottom: none !important;
    width: 49%;
}


/*Speakers*/
.speakers {
    padding-top: 80px;
}

.speakers-cards {
    display: flex;
    flex-flow: row wrap;
}

.speakers-cards__item {
    display: flex;
    width: 100%;
    padding-top: 60px;
    padding-right: 20px;
}

@media all and (min-width: 37.5em) {
    .speakers-cards__item {
        width: calc(100% / 12 * 6 );
    }
}
/* ===== == = === 56.25em (900px) === = == ===== */
@media all and (min-width: 56.25em) {
    .speakers-cards__item {
        width: calc(100% / 16 * 4 );
    }
}

.speakers-cards__body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0;
    border-radius: 3px;
}

.speakers-cards__body p {
    flex: 1 0;
    margin: 0;
    color: #18191C;
;
}

.speakers-cards__img {
    width: 100%;
    border-radius: 3px 3px 0 0;
}

.speakers-cards__img:hover {
    opacity: 0.8;
}
.speakers-cards__title {
    padding-top: 20px;
}
.speakers-cards__text {
    padding-right: 20px;
}
.speakers-cards__footer {
    padding-top: 21px;
}
.speakers-social {
    padding-right: 20px;
}


@media (max-width: 600px) {
    .speakers-cards__item {
        padding-right: 0;
    }
}

.feedback {
    padding-top: 80px;
    background: #CFD5E3;
}

.feedback-field label {
    font-size: 12px;
    width: 100%;
    padding-top: 21px;
}

.feedback-input {
    display: block;
    width: 270px;
    height: 48px;
    font-size: 16px;
    color: black;
    padding: 11px 0 11px 10px;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
}

.feedback-textarea {
    resize: none;
    display: block;
    max-width: 100%;
    height: 144px;
    font-size: 16px;
    color: black;
    padding: 21px 0 21px 10px;
    border: none;
    outline: none;
}

.feedback-input::placeholder {
    font-size: 16px;
    color: black;
}
.feedback-textarea::placeholder {
    font-size: 16px;
    color: black;
}

.feedback-field button {
    margin-top: 30px;
    width: 215px;
    height: 52px;
    background: #00081E;
    color: white;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
    border: none;
}
.feedback-field button:hover {
    background: #010d40;
}
.versions {
    width: 100vw;
    height: 380px;
    background: #DCE2F0;
}

#biglogoss .container {
  text-align: center;
}
#biglogos {
  text-align: center;
  display: inline-block;
  text-align: center;
  max-width: 60%;
  padding: 30px;
}
#biglogoss p {
  color: #505050 !important;
}

/*
color-switch: order 2
margin-left: auto

.navbar-light .navbar-toggler {
  order: 3
}
*/
